/*通用选择器（*）选择页面上的所有的 HTML 元素。*/
* {
    margin: 0;
    padding: 0;
    /*让width和height包含padding和margin的大小*/
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.box {
    position: relative;
    height: 300px;
    width: 400px;
    background: #fff;
}

/*选box里面的所有span*/
.box span {
    position: absolute;
    /*是top right left bottom的简写*/
    inset: 0;
    /*所有元素过渡效果0.5s*/
    transition: 0.5s;
    background: url(./img/pexels-soubhagya-maharana-5245865.jpg);
    /*图片完全覆盖内容区*/
    background-size: cover;
}

/*选择.box span兄弟中的第一个元素*/
.box span:nth-child(1) {
    /*以polygon裁剪出一个左上方正方形*/
    /* polygon 四个点坐标(x,y) x为横轴位置 y轴为纵轴坐标 */
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    /* background: #a00; */
}

.box span:nth-child(2) {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
    /* background: #0a0; */
}

.box span:nth-child(3) {
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
    /* background: #00a; */
}

.box span:nth-child(4) {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    /* background: #aa0; */
}

/*hover选择鼠标指针浮动在其上的元素*/
.box:hover span:nth-child(1) {
    /* transform: translate使元素平移 transform: rotate使元素逆时针旋转15° */
    transform: translate(-40px, -60px) rotate(-15deg);
    transition-delay: 0s;
}

.box:hover span:nth-child(2) {
    transform: translate(40px, -100px) rotate(25deg);
    transition-delay: 0.25s;
}

.box:hover span:nth-child(3) {
    transform: translate(-40px, 80px) rotate(15deg);
    transition-delay: 0.5s;
}

.box:hover span:nth-child(4) {
    transform: translate(40px, 80px) rotate(-15deg);
    transition-delay: 0.75s;
}